@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 9, ../../../app/stylesheets/screen.scss */
a.button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1294387528') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
}
/* line 172, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:focus {
  outline: none;
}
/* line 178, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button.disabled, a.button[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button.disabled:hover, a.button.disabled:focus, a.button[disabled]:hover, a.button[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button.disabled:active, a.button[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 98, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button, a.button:visited {
  color: white;
}
/* line 26, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button.disabled:active, a.button.disabled:hover, a.button[disabled]:active, a.button[disabled]:hover {
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
}
/* line 98, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button.disabled:active, a.button.disabled:active:visited, a.button.disabled:hover, a.button.disabled:hover:visited, a.button[disabled]:active, a.button[disabled]:active:visited, a.button[disabled]:hover, a.button[disabled]:hover:visited {
  color: white;
}
/* line 28, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 98, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:hover:visited, a.button:focus, a.button:focus:visited {
  color: white;
}
/* line 33, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
}
/* line 98, ../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
a.button:active, a.button:active:visited {
  color: white;
}

/* line 12, ../../../app/stylesheets/screen.scss */
ul.control {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 16, ../../../app/stylesheets/screen.scss */
ul.control li {
  padding-left: 25px;
  display: inline;
}
/* line 17, ../../../app/stylesheets/screen.scss */
ul.control li a {
  font-size: 12px;
}

/* line 24, ../../../app/stylesheets/screen.scss */
#graph {
  padding-left: 50px;
}

/* line 27, ../../../app/stylesheets/screen.scss */
#content {
  padding: 25px;
}
/* line 29, ../../../app/stylesheets/screen.scss */
#content h1 {
  font-size: 38;
  font-weight: bold;
  text-align: center;
}
/* line 33, ../../../app/stylesheets/screen.scss */
#content h2 {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

/* line 41, ../../../app/stylesheets/screen.scss */
#header {
  background-color: #356AA0;
  height: 50px;
  text-align: center;
}
/* line 44, ../../../app/stylesheets/screen.scss */
#header h1.title {
  display: inline;
  color: white;
  font-size: 26px;
  text-align: center;
  padding-top: 6px;
}
/* line 52, ../../../app/stylesheets/screen.scss */
#header #search {
  text-align: center;
  color: white;
  display: inline;
  float: right;
  padding-top: 13px;
}

/* line 60, ../../../app/stylesheets/screen.scss */
#footer {
  text-align: center;
  padding: 15px;
}

/* line 65, ../../../app/stylesheets/screen.scss */
ul.menu {
  display: inline;
  float: left;
  padding: 5px;
  padding-top: 14px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* line 74, ../../../app/stylesheets/screen.scss */
ul.menu li {
  display: inline;
  padding: 5px;
}
/* line 77, ../../../app/stylesheets/screen.scss */
ul.menu li a {
  color: #fff;
  text-decoration: none;
}
/* line 81, ../../../app/stylesheets/screen.scss */
ul.menu li a:hover {
  color: #eee;
}

/* line 87, ../../../app/stylesheets/screen.scss */
table tr.alt {
  background-color: #ccc;
}

/* line 92, ../../../app/stylesheets/screen.scss */
table.auctions {
  margin: auto;
}

/* line 97, ../../../app/stylesheets/screen.scss */
table td, table th {
  padding: 5px;
}

/* line 102, ../../../app/stylesheets/screen.scss */
#notice_flash {
  border: 5px solid red;
  margin: auto;
  text-align: center;
}

/* line 108, ../../../app/stylesheets/screen.scss */
#pagination {
  padding: 5px;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}

/* line 118, ../../../app/stylesheets/screen.scss */
.item .show #chart {
  margin: auto;
}
