/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass/utilities";

@import "basic/blue-fluid"; //compass-theme

@import "compass/css3/box-shadow";

@import "fancy-buttons";

@mixin auto_center {
  margin:{
    left:auto;
    right:auto;
  }
}

@mixin paginateion {
  #pagination {
    padding:5px;
    text-transform: capitalize;
    font-size:20px;
    text-align:center;
  }
}

body {
  #menu {
    h1{
      a {
        text-decoration:none;
        color:#ffffff;
      }
    }
  }
}

#footer {
  text-align:center;
  padding:15px;
}

a.button {
  @include fancy-button;
}
//Auction Controller
body.auction {
  @include paginateion;
  #content.index {
    table {
      width:90%;
      @include auto_center;
    }
  } 
}
//Item Controller
body.item {
  //Show Action
  #content.show {
    h1 {
      text-align:center;
    }
    .info {
      width:600px;
      @include auto_center;
    }
    h2 {
      text-align:center;
    }
    table.auctions {
      @include auto_center;
      tr {
        th, td {
          width:25%;
          text-align:center;
          &.time {
            font-size:13px;
          }
        }
      }
    }
    ul.control {
      padding-left:152px;
      padding-top:10px;
      padding-bottom:10px;
      li {
        a {
          font-size:12px;
        }
        padding-left:25px;
        display:inline;
      }
    }
    @include paginateion;
    #graph {
      div#placeholder {
        @include auto_center;
      }
      h3 {
        text-align:center;
      }
      @include box-shadow;
      margin-top:25px;
      padding-top:10px;
      width:700px;
      @include auto_center;
    }
  }
}



