%h2 HEY!
%p Do you use this site a lot?
%p Would you like this box to go away?
%p Then help out by uploading log files!
%p This site does not function or really matter with out uploaded log files so do you part to make sure it stays up to date
%p 
  %em Hint if you upload a log this box goes away!
  %p=link_to('THIS IS THE UPLOADLINK', new_auction_path)
%p.bold Thanks, Stairs!